body {
  margin: auto;
  margin-top: 8px;
  max-width: 380px;
  background-color: #57bb6b;
}

header {
  background-image: url(../img/presentation_multifruit.webp);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-container {
  color: #57bb6b;
  background-color: #ffffffd9;
  padding: 35px 50px 10px;
  margin: 30px;
}

.slogan {
  font-family: "Quattrocento", serif;
  font-size: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  background-color: #57bb6b;
  font-size: 20px;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  text-decoration: none;
}

.card {
  background-color: white;
  text-align: center;
  margin: 0px;
  padding: 100px 55px;
}

span {
  font-weight: bold;
}

h1 {
  font-size: 26px;
  font-family: "Maven Pro", sans-serif;
  margin: 60px 0px 0px;
}

.product {
  color: white;
  text-align: center;
}

footer {
  color: #57bb6b;
  background-color: white;
  font-family: "Maven Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.copyright {
  font-size: 10px;
  margin: 0px 90px;
}

.fruit-img {
  width: 28px;
  margin: 0px;
  padding: 20px;
}

.fruits-container {
  display: flex;
  flex-direction: center;
  justify-content: space-around;
}

p {
  font-family: "Quattrocento", serif;
  font-size: 16px;
}

a {
  font-family: "Maven Pro", sans-serif;
  font-weight: bold;
  color: black;
}

h2 {
  font-family: "Sriracha", cursive;
  color: black;
  font-size: 30px;
  margin: 0px;
}

h3 {
  font-size: 18px;
}

.fruits-product {
  width: 80px;
}

.juice-card {
  border-radius: 20px;
  padding: 30px;
  margin: 30px;
  box-shadow: 0px 0px 10px 0px grey;
}

.juice-card-banane {
  background-color: #fff8d7;
}

.juice-card-kiwi {
  background-color: #c4f2ad;
}

.juice-card-coffe {
  background-color: #d3c6b2;
}

.juice-card-strawberry {
  background-color: #f7a4b4;
}

.juice-slogan {
  color: rgba(0, 0, 0, 0.5);
  margin: 0px 0px 40px;
}

.container-product {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.icone-kiwi {
  background-color: white;
  border-radius: 100%;
  width: 100px;
  padding: 30px;
}

.juice-card-container-kiwi {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  color: white;
  margin: 60px;
}

.article-product {
  width: 246px;
}

.button-light {
  background-color: white;
  color: #57bb6b;
}

.suggest-element {
  background-color: #c4f2ad;
  text-align: center;
  padding: 30px;
}

.other-product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product-figure {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.product-figure img {
  width: 55px;
}

.juice-card-tiny {
  border-radius: 20px;
  padding: 10px;
  margin: 40px 10px;
}

.juice-card-tiny a {
  opacity: 0.5;
  font-family: "Maven Pro", sans-serif;
  font-size: 38px;
  text-decoration: none;
}

.juice-card-tiny h2 {
  font-size: 20px;
  text-align: left;
}
