body {
  margin: auto;
  margin-top: 8px;
  max-width: 100%;
  background-color: #57BB6B;
}

header {
  background-image: url(../img/presentation_multifruit.webp);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-container {
  color: #57BB6B;
  background-color: #FFFFFFD9;
  padding: 35px 50px 10px;
  margin: 30px;
}
/* à controller avec prof */
.slogan {
  font-family: 'Quattrocento', serif;
  /* line-height: 24px; */
  font-size: 20px;
  /* display: flex;
  flex-direction: column-reverse;  */
}

.button-container {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.button {
  font-family: 'Maven Pro', sans-serif;
  background-color: #57BB6B;
  font-size: 20px;
  color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  text-decoration: none;
}

.card {
  background-color: white;
  text-align: center;
  margin: 0px;
  padding: 100px 67px;
}

h2 {
  font-size: 26px;
  margin-top: 0px;
  font-family: 'Maven Pro', sans-serif;
}

.product

footer {
  color: #57BB6B;
  background-color: white;
  font-family: 'Maven Pro', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 10px;
  margin: 0px 100px;
  display: flex;
  flex-direction: column-reverse;
}

.fruits-container img{
  width: 28px;
  margin: 0px;
  padding: 20px;
}

.fruits-container {
  display: flex;
  flex-direction: center;
  justify-content: space-between;
}